<div style="text-align:center">
  <div class="header">
    <div class="heading-inside">
       Why the heck should I care about the <a href="https://www.eff.org/issues/tpp" class="rb"> TPP</a>? 
    </div>
  </div>
  <h2><%= @fact.name %></h2>
  <span class="li"> <%= link_to @fact.link, @fact.link %> </span>
  <br>
  <br>

  <br>
  <%= link_to @question.name, root_path(:f => @fact, :q => @question), :class => "btn"%>
</div>
