html, body {
  height: 100%;
  background:#262626;
  background-image:url('../assets/test3.png');
  margin:0;
}

.wrap {
  min-height: 100%;
  position:relative;
  top:0;
  left:50%;
  width:700px;
  margin-left:-350px;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/

  .header{
    margin-top:2em;
    margin-bottom:2em;
  }
  .heading-inside{
    width:485px;
    margin-left:auto;
    margin-right:auto;
    font-family:"roboto slab";
    color:#fff;
    font-weight:400;
    font-size:1.4em;
    border-top: 1px solid #a51313;
    border-bottom: 1px solid #a51313;
  }
  .rb{
    color:#e8251d;
    font-weight:700;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size:1.5em;
    text-decoration:none;
  }
  h2{
    font-family: "roboto slab";
    font-weight:400;
    color:white;
    font-size:2em;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5)
  }
  .li a{
    color:#a2153d;
    font-style:italic;
  }
  .li a:visited{
    color:#999;
  }


}
.btn{
  color:white;
  background: #e8251d;
  font-size:1.2em;
  padding:0.55em 0.65em;
  text-transform:uppercase;
  text-decoration:none;
  font-family:"roboto slab";
  font-weight:300;
  border-radius:2px;
}
.btn:hover{
  background: #a51313;
}
.footer {
  position: relative;
  margin-top: -91px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:10px;
  background:#111;
  border-top: 1px solid #e8251d;
  color:#aaa;
  .snippet{
    float:left;
    width:45%;
    min-width:380px;
    font-family:"roboto slab";
    font-size:0.9em;
    padding-left:20px;
    .rb{
    color:#a51313;
    font-weight:700;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size:1.2em;
  }

  }
  .foot-right{
    float:right;
    max-width:320px;
  }
  .eff{
    float:left;
    padding-left:15px;
    width:65px;
    .eff-logo{
      width:65px;
      margin-top:8px;
    }
  }
  .made{
    float:left;
    width:60%;
    min-width:150px;
    padding-left:20px;
    font-size:0.7em;
    .text{
      width:100%;
      margin-bottom: 7px;
      a{
        color: #a51313;
    }
    }
  }
} 
