html, body {
  height: 100%;
  background:#262626;
  background-image:url('../assets/test3.png');
  margin:0;
}

#wrap {
  min-height: 100%;
  position:relative;
  top:0;
  left:50%;
  width:700px;
  margin-left:-350px;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/

  h3{
    font-family:"roboto slab";
    color:#fff;
    font-weight:400;
    font-size:1.4em;
  }
  .rb{
    color:#e8251d;
    font-weight:700;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size:1.5em;
  }
  h2{
    font-family: "roboto slab";
    font-weight:400;
    color:white;
    font-size:2.2em;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5)
  }
  a.link{
    color:#aaa;
  }


}
.btn{
  color:white;
  background: #e8251d;
  font-size:1.2em;
  padding:0.35em 0.5em;
  text-transform:uppercase;
  text-decoration:none;
  font-family:"roboto slab";
  font-weight:300;
  border-radius:2px;
}
.btn:hover{
  background: #a51313;
}
.footer {
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:20px;
  background:#262626;
  border-top: 3px solid #e8251d;
  color:#ddd;
} 
