<!DOCTYPE html>
<html>
<head>
<title>Tpp</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Neuton:200,300,400,700|Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrap">
  <div id="main" class="container clear-top">
    <%= yield %>
</div></div>

<footer class="footer">
    <div class="snippet">
      The <span class="rb">TPP</span>, or <span class="rb">Trans-Pacific Partnership</span>, is threatening our internet freedom.  Learn more about the Trans-Pacific Partnership's copyright provisions <a href="https://www.eff.org/issues/tpp" target="_blank" class="rb">here</a>.
    </div>
    <div class="foot-right">
    <div class="eff">
      <a rel = "company"
        href="https://www.eff.org/"
        title="The Electronic Frontier Foundation"><img src='../assets/eff.png' class="eff-logo" alt="Organization"/></a>
    </div>
    <div class="made">
      <div class="text">
        Website by <a href="http://twitter.com/maira">@maira</a> and <a href="http://twitter.com/ozziegooen">@ozziegooen</a>
    </div>
      <a rel = "license"
        href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons Attribution 3.0 License"
        ><img src="http://i.creativecommons.org/l/by/3.0/88x31.png"
        alt="License"/></a>
    </div>
  </div>
</footer>
</body>
</html>
